<div class="page-header">
  <h1>Melhores filmes em cartaz <small>Sua vida é curta. Não a desperdiçe vendo filmes de merda.</small></h1>
</div>

<div class="row">

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://ia.media-imdb.com/images/M/MV5BMTU2Mjk2NDkyMl5BMl5BanBnXkFtZTgwNTk0NzcyMDE@._V1_SX300.jpg">
      <div class="caption center">
        <h2>Nebraska</h2>
				<span class="glyphicon glyphicon-star"></span> <b>8.2 no IMDB</b>
				<span class="middle-dot"> · </span>
				<span class="glyphicon glyphicon-pushpin"></span> <b>14 cinemas</b>
        <span class="description">“An aging, booze-addled father makes the trip from Montana to Nebraska with his estranged son in order to claim a million-dollar Mega Sweepstakes Marketing prize.”</span>
        <p><a href="#" class="btn btn-primary" role="button">Comprar Ingresso</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://ia.media-imdb.com/images/M/MV5BMTM2ODk0NDAwMF5BMl5BanBnXkFtZTcwNTM1MDc2Mw@@._V1_SX300.jpg">
      <div class="caption center">
        <h2>The Social Network</h2>
				<span class="glyphicon glyphicon-star"></span> <b>8.2 no IMDB</b>
				<span class="middle-dot"> · </span>
				<span class="glyphicon glyphicon-pushpin"></span> <b>14 cinemas</b>
        <span class="description">“Harvard student Mark Zuckerberg creates the social networking site that would become known as Facebook, but is later sued by two brothers who claimed he stole their idea, and the cofounder who was later squeezed out of the business.”</span>
        <p><a href="#" class="btn btn-primary" role="button">Comprar Ingresso</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://ia.media-imdb.com/images/M/MV5BMTc0ODk5MzEyMV5BMl5BanBnXkFtZTcwMzI0MDY1OQ@@._V1_SX300.jpg">
      <div class="caption center">
        <h2>Blue Jasmine</h2>
				<span class="glyphicon glyphicon-star"></span> <b>8.2 no IMDB</b>
				<span class="middle-dot"> · </span>
				<span class="glyphicon glyphicon-pushpin"></span> <b>14 cinemas</b>
        <span class="description">“A New York socialite, deeply troubled and in denial, arrives in San Francisco to impose upon her sister. She looks a million, but isn't bringing money, peace, or love...”</span>
        <p><a href="#" class="btn btn-primary" role="button">Comprar Ingresso</a></p>
      </div>
    </div>
  </div>

</div>

<div class="page-header">
  <h2><small>O <a href="/" rel="nofollow">Filmaços</a> é uma lista curada dos melhores filmes nos cinemas do Rio de Janeiro. Pra que você não caia em furadas como <em>Noé</em> e <em>Yves Saint Laurent</em>.</small></h2>
</div>

<div class="share-buttons">
	<a href="#" class="btn btn-primary btn-lg" onclick="window.open('http://www.facebook.com/sharer.php?u=http://filmacos.com&t=Filmaços – Sua vida é curta. Não a desperdiçe vendo filmes de merda.', 'Compartilhar no Facebook', 'width=600, height=350'); return false;"><span class="glyphicon glyphicon-share"></span> Compartilhar no Facebook</a>

	<a href="#" class="btn btn-info btn-lg" onclick="window.open('http://twitter.com/share?text=Filmaços – Sua vida é curta. Não a desperdiçe vendo filmes de merda.&url=http://filmacos.com', 'Compartilhar no Twitter', 'width=600, height=350'); return false;"><span class="glyphicon glyphicon-share"></span> Compartilhar no Twitter</a>
</div>
