<div class="page-header">
  <h1>Melhores filmes em cartaz <small>Sua vida é curta. Não a desperdice vendo filmes de merda.</small></h1>
</div>

<div class="row">
<%= render partial: "movie" %>
</div>

<div class="page-header">
  <h2><small>O <a href="/" rel="nofollow">Filmaços</a> é uma lista curada dos melhores filmes nos cinemas do Rio de Janeiro – para você nunca mais cair em furadas como <em>Noé</em> e <em>Yves Saint Laurent</em>.</small></h2>
</div>

<div class="share-buttons">
	<a href="#" class="btn btn-primary btn-lg" onclick="window.open('http://www.facebook.com/sharer.php?u=http://filmacos.com&t=Filmaços – Sua vida é curta. Não a desperdiçe vendo filmes de merda.', 'Compartilhar no Facebook', 'width=600, height=350'); return false;"><span class="glyphicon glyphicon-share"></span> Facebook</a>

	<a href="#" class="btn btn-info btn-lg" onclick="window.open('http://twitter.com/share?text=Filmaços – Sua vida é curta. Não a desperdiçe vendo filmes de merda.&url=http://filmacos.com', 'Compartilhar no Twitter', 'width=600, height=350'); return false;"><span class="glyphicon glyphicon-share"></span> Twitter</a>
</div>
